@import url("https://fonts.googleapis.com/css2?family=Akronim&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --akronim: "Akronim", cursive;
  --text-gray: var(--TEXT-CLR, #5e6282);
  --p: "Poppins", sans-serif;
}
